<div class="title d-flex justify-content-center my-5">
  <h1>你想對誰說幹話？</h1>
</div>

<form method="POST" action="/">
  <fieldset class="form-group">
    <div class="container d-flex justify-content-center mb-5">
      <div class="card-deck">　　　
        {{#each occupations }}
        <div class="{{this.englishTitle}}">
          <div class="card mb-3" style="width: 18rem;">
            <img src="{{this.image}}" class="card-img-top" alt="{{this.englishTitle}}">
          </div>
          <div class="form-check form-check-inline d-flex justify-content-center">
            <input class="form-check-input" type="radio" name="job" id="{{this.englishTitle}}"
              value="{{ this.chineseTitle }}" required>
            <label class="form-check-label" for="inlineRadio{{this.id}}">{{this.chineseTitle}}</label>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </fieldset>

  <div class="form-group form-inline d-flex justify-content-center">
    <button type="submit" class="btn btn-primary mr-3 mb-3">產生幹話</button>
    <textarea class="form-control" style="width: 51rem;" id="generate" rows="3" type="text" value="talk"
      readonly>{{#if trashTalk}}{{trashTalk}}{{/if}}</textarea>
  </div>

</form>